@model IEnumerable<TCDBEntities.QuotationSummary>
@{
    ViewBag.Title = "Quotation List | Town Clean";   
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quotation List <small>All Branches</small></h2>                    
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">                                
                                <th>Quotation No </th>
                                <th>Quotation Date </th>                                
                                <th>Quotation to Name </th>                                
                                <th>Address </th>
                                <th>Voulme </th>
                                <th>Amount </th>
                                <th>Status </th>
                                <th class=" no-link last">
                                    <span class="nobr">View</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var quot = Model.ToList();

                                for (int i = 0; i < quot.Count; i++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        <tr class="even pointer">
                                            <td class="a-center ">
                                                @quot[i].QuotationNo
                                            </td>
                                            <td class=" ">@quot[i].QuotationDate.ToString("dd MMM yyyy")</td>
                                            <td class=" ">@quot[i].ContactName </td>
                                            <td class=" ">
                                                @quot[i].Address<br />
                                                Email: @quot[i].Email<br />
                                                Phone: @quot[i].Phone
                                            </td>
                                            <td class=" ">@quot[i].TotalVolume</td>
                                            <td class=" ">@quot[i].TotalPrice</td>  
                                            <td class=" ">@quot[i].IsSent</td>                                           
                                            <td class=" last">
                                                @Html.ActionLink("View", "QuotationDetails", new { id = @quot[i].QuotationID})                                                
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="odd pointer">
                                            <td class="a-center ">
                                                @quot[i].QuotationNo
                                            </td>
                                            <td class=" ">@quot[i].QuotationDate.ToString("dd MMM yyyy")</td>
                                            <td class=" ">@quot[i].ContactName </td>
                                            <td class=" ">
                                                @quot[i].Address<br />
                                                Email: @quot[i].Email<br />
                                                Phone: @quot[i].Phone
                                            </td>
                                            <td class=" ">@quot[i].TotalVolume</td>
                                            <td class=" ">@quot[i].TotalPrice</td>
                                            <td class=" ">@quot[i].IsSent</td>
                                            <td class=" last">
                                                @Html.ActionLink("View", "QuotationDetails", new { id = @quot[i].QuotationID })
                                            </td>
                                        </tr>
                                    }
                                }
                            }                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="clearfix"></div>
</div>

@section JavaScript
{
    <!-- Datatables -->
    <script src="../../js/datatables/js/jquery.dataTables.js"></script>
    <script src="../../js/datatables/tools/js/dataTables.tableTools.js"></script>
}
