@model TCDBEntities.InsertExpense
@{
    ViewBag.Title = "Add New Expense | Town Clean";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Create New Expense <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("AddNewExpense", "Expense", FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ExpenseName">
                                Expense Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.ExpenseName, new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ExpenseType">
                                Expense Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.ExpenseType, new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Amount">
                                Amount <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ExpenseDate">
                                Expense Date <span class="required">&nbsp;</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.ExpenseDate, new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                       
                        
                       
                        
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Add Items</button>
                            </div>
                        </div>
                        @*</form>*@
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtCustomerName").val('');
            $("#DivCustomer").hide();

            $("#chkForExistingCustomer").change(function () {
                if (this.checked)
                {
                    $("#DivCustomer").show();
                }
                else
                {
                    $("#DivCustomer").hide();
                }
            });
        });


    </script>
}




